body{
    background-image: linear-gradient(to right, rgb(201, 119, 119), rgb(231, 25, 180));
    color: $blanco;
    font-size: $font20;
    #navBar{
        background-color: rgb(247, 187, 96)!important;
        .navbar-brand{
            color: rgb(253, 253, 253);
            font-size: 40px;
            text-shadow: 5px 5px 5px #ccc;
            animation-duration: 2s;
            animation-name: aparecer;
            animation-delay: 5s;
            animation-iteration-count: infinite;
            @keyframes aparecer{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        .navbar-nav a{
            color: $azul !important;
            font-size: 15px;
        }
        .navbar-nav a:hover{
            color: $verde !important;
        } 
    }
    h1{
        color: $blanco;
        text-align: center;
    }
    .footer{
        background-color: $naranja;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .footer__legal{
            color: $azul;
            font-size: $font15;
        }
        .footer__redes{
            display: flex;
        }
        $redes: facebook, instagram, twitter, whatsapp;

        @each $red in $redes {
            .#{$red}{
                background-image: url(../iconos/#{$red}.png);
                background-position: center;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
            }
        } 
    }
    @media only screen and (max-width:768px){
        font-size: $font19;
        .contacto__title{
            font-size: $font19;
        }
        .footer__mapa__maps{
            width: 150px;
        }
    }
    @media only screen and (min-width: 768px){
        .footer__mapa__maps{
            width: 250px;
        }
    }
    @media only screen and (min-width: 1024px){
        .footer__mapa__maps{
            width: 300px;
        }
    }
}



