body{
    background-image: linear-gradient(to right, rgb(201, 119, 119), rgb(231, 25, 180));
    #navBar{
        background-color: rgb(247, 187, 96)!important;
        .navbar-brand{
            color: rgb(253, 253, 253);
            font-size: 40px;
            text-shadow: 5px 5px 5px #ccc;
            animation-duration: 2s;
            animation-name: aparecer;
            animation-delay: 5s;
            animation-iteration-count: infinite;
            @keyframes aparecer{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        .navbar-nav a{
            color: $azul !important;
            font-size: 15px;
        }
        .navbar-nav a:hover{
            color: $verde !important;
        } 
    }
    .main__maspedidos__name{
        color:$blanco;
        font-size: 20px;
    }
    .contenedorEspeciales{
        display: grid;
        width: 100%;
        column-gap: 50px;
        row-gap: 20px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px 300px;
        margin-bottom: 5px;
        margin-top: 5px;
        justify-content: center;
        .especiales1{
            background-image: url(/imágenes/boxPadre1.jpg);
            background-size: cover;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        .especiales1:hover{
            transform: scale(1.2, 1.2);
            width: 500px;
            transition: 1s;
        }
        
        .especiales2{
            background-image: url(/imágenes/boxPostres2.jpg);
            background-size: cover;
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .especiales2:hover{
            transform: scale(1.2, 1.2);
            width: 500px;
            transition: 1s;
        }
        .especiales3{
            background-image: url(/imágenes/boxPadre2.jpg);
            background-size: cover;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .especiales3:hover{
            transform: scale(1.2, 1.2);
            width: 500px;
            transition: 1s;
        }
        
        .especiales4{
            background-image: url(/imágenes/boxMadre1.jpg);
            background-size: cover;
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .especiales4:hover{
            transform: scale(1.2, 1.2);
            width: 500px;
            transition: 1s;
        }
        .especiales5{
            background-image: url(/imágenes/boxMadre2.jpg);
            background-size: cover;
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .especiales5:hover{
            transform: scale(1.2, 1.2);
            width: 500px;
            transition: 1s;
        }
        .especiales6{
            background-image: url(/imágenes/boxMadre3.jpg);
            background-size: cover;
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .especiales6:hover{
            transform: scale(1.2, 1.2);
            width: 500px;
            transition: 1s;
        }
    }
    .footer{
        background-color: $naranja;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .footer__legal{
            color: $azul;
            font-size: 15px;
        }
        .footer__redes{
            display: flex;
        }
        $redes: whatsapp, twitter, facebook, instagram;


        @each $red in $redes {
         .#{$red} {
             background-image: url(../Imágenes/#{$red}.png);
             background-position: center;
             background-repeat: no-repeat;
             width: 30px;
             height: 30px;
            }
        }
    }
}



