*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$azul: rgb(52, 1, 133);
$verde: rgb(83, 241, 20);
$blanco: white;
$naranja: rgb(247, 187, 96);
$negro: black;

$font19: 19px;
$font15: 15px;
$font20: 20px;
$font40: 40px;